<div ng-controller="AnswersGoogleCtrl">

	<h1 id="answersTitle">Distribution of answers for selected question</h1>
	<table>
		<tr>
			<td>Question</td>
			<td>Age Group</td>
			<td>Gender</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<select ng-model="selected.ques_id">
					<option ng-repeat="quest in questions" value={{quest.ques_id}}>{{quest.ques_text}}</option>
				</select>
			</td>
			<td>
				<select ng-model="selected.ageGroup">
					<option ng-repeat="ageGroup in ageGroups" value={{ageGroup.id}}>{{ageGroup.lgtxt}}</option>
				</select>
			</td>
			<td>
				<select ng-model="selected.gender">
					<option value="f">Female</option>
					<option value="m">Male</option>
				</select>
			</td>
			<td>
				<button ng-click="selectedReset()">Clear selections</button>
			</td>
		</tr>
	</table>
	<br>
	<div ng-show="tableVisible">
		<ova-google-chart data="barChartData" type="ColumnChart" title="Number of answers" width="600"></ova-google-chart>
	</div>
</div>
