<div ng-controller="GroupsCtrl">
	<h1 id="groupsTitle">Percentage distribution of answers for Age Groups for selected question</h1>
	<button ng-click="selectedReset()">Clear selections</button>
	
	<table>
		<tr>
			<td>
				<div>Select question</div>
				<select ng-model="selected.ques_id">
					<option ng-repeat="quest in questions" value={{quest.ques_id}}>{{quest.ques_text}}</option>
				</select>
			</td>
		</tr>
	</table>
	<div>Result table</div>
	<table class="gridtable" id="resultTable">
		<tr>
			<th ng-show="tableVisible">Age Groups</th>
			<th ng-repeat="header in headerRow">{{header.id}} - {{header.text}}</th>
		</tr>
		<tr ng-repeat="answerRow in table">
		<td>{{answerRow.title.shtxt}}</td>
		<td ng-repeat="value in answerRow.values">{{value.count}}
		</td>
		</tr>
	</table>
</div>
